.icon-document {
    width: 80px;
    height: 80px;
    animation-name: documentIconAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    position: relative;
 }


 @keyframes documentIconAnimation {
    from{
        width: 0px;
        height: 0px;
     }
     to{
        width: 80px;
        height: 80px;
     }
 }

 .folder-list-flex-container{
    display: flex;
    width: 90%;
    margin: auto;
    align-items: flex-start;
 }

 .document-item{
    cursor: pointer;
    padding: 10px;
}

.document-item:hover{
    background-color: rgba(255, 255, 255, 0.273);
    border-radius: 10px;
}

.top-toolbar-folder{
    background-color: rgba(255, 255, 255, 0.086);
    height: 31px;
    display: flex;
}

.top-toolbar-nav-folder{
    display: flex;
}

.btn-navigate-folder{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 17px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-navigate-folder:hover{
    background-color: rgba(255, 255, 255, 0.13);

}