.top-folder-container{
    padding: 20px;
    display: grid;
    height: 66vh;

    grid-template-columns: 5fr 5fr;
    grid-template-areas: 
        "shared-folder-area secret-shared-folder-area"
        "shared-folder-area secret-shared-folder-area"
        ;
    overflow-y: auto;
}

.icon-document {
    width: 50px;
    height: 50px;
    animation-name: documentIconAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    position: relative;
    z-index: 0;
 }




 @keyframes documentIconAnimation {
    from{
        width: 0px;
        height: 0px;
     }
     to{
        width: 50px;
        height: 50px;
     }
 }



 .folder-list-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;

 }


 .folder-item-active{
    background-color: rgba(111, 209, 255, 0.237);

}

 .document-item{
    cursor: pointer;
    padding: 3px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 24px;
    
}
.document-item > p{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
    
}

.document-item:hover{
    background-color: rgba(255, 255, 255, 0.273);
    border-radius: 10px;
}
.item-selected{
    background-color: rgba(0, 67, 114, 0.999);
    cursor: pointer;
    padding: 3px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 24px;
    border-radius: 10px;

}

.item-selected > p{
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}

.top-toolbar-folder{
    background-color: rgba(36, 36, 36, 0.796);
    height: 31px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 0.5px solid rgba(255, 255, 255, 0.38);
}

.top-toolbar-nav-folder{
    display: flex;
    margin-left: 20px;
    width: 27%;
    justify-content: space-between;
/*     background-color: red;
 */}
.top-toolbar-option-document{
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    width: 45%;
    animation-name: topToolbarOptionAnimation;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    background-color: rgba(64, 239, 255, 0.432);

}

@keyframes topToolbarOptionAnimation {
    from{
        background-color: rgb(255, 124, 124);
    }
    to{
        background-color: rgba(0, 109, 128, 0.286);

    }
}

.top-toolbar-option-document-hide{
    display: none;
}

.btn-navigate-folder{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    width: 40%;
}

.btn-navigate-folder > .btn-room-css{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}


.btn-option-document-css{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
    width: 30%;
}
.btn-option-document-css:hover{
    background-color: rgba(255, 255, 255, 0.273);
}

.label-item-selected{
    color: white;
    border: none;
    font-size: 15px;
    width: 40%;
    transition: 0.2s;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px
}

.btn-selected{
    background-color: rgba(255, 255, 255, 0.13);

}

.btn-navigate-folder{
    font-size: 12px;
}
.btn-navigate-folder:hover{
    background-color: rgba(255, 255, 255, 0.13);
}


.shared-docs-container{
    background-color: rgba(58, 58, 58, 0.338);
    padding: 10px;
    border-radius: 13px;
    overflow-y: auto;
    /* height: 240px; */
    grid-area: shared-folder-area;
    margin: 13px;
    overflow-y: auto;
    border: 0.5px solid rgb(111, 209, 255);


}
.secret-share-docs-container{
    margin: 10px;
    grid-area: secret-shared-folder-area;
    background-color: rgba(58, 58, 58, 0.338);
    border-radius: 20px;
    padding: 10px;
    overflow: auto;
    border: 0.5px solid rgb(111, 209, 255);

}

@media only screen and (max-width: 1470px){
    .btn-navigate-folder{
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: none;
        font-size: 13px;
        cursor: pointer;
        transition: 0.2s;
    }
}
