.top-folder-container{
    padding: 20px;
    display: grid;
    height: 80vh;

/*     grid-template-columns: 5fr 5fr;
    grid-template-areas: 
        "shared-folder-area secret-shared-folder-area"
        "shared-folder-area secret-shared-folder-area"
        ; */
    overflow-y: auto;
}






 .folder-list-flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    align-items: flex-start;

 }

.top-toolbar-folder{
    background-color: rgba(36, 36, 36, 0.796);
    height: 31px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    border: 0.5px solid rgba(255, 255, 255, 0.38);
}

.top-toolbar-nav-folder{
    display: flex;
    margin-left: 20px;
    width: 27%;
    justify-content: space-between;
/*     background-color: red;
 */}
.top-toolbar-option-document{
    display: flex;
    margin-left: 20px;
    justify-content: space-around;
    width: 45%;
    animation-name: topToolbarOptionAnimation;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
    background-color: rgba(64, 239, 255, 0.432);

}

@keyframes topToolbarOptionAnimation {
    from{
        background-color: rgb(255, 124, 124);
    }
    to{
        background-color: rgba(64, 239, 255, 0.432);

    }
}

.top-toolbar-option-document-hide{
    display: none;
}

.btn-navigate-folder{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    width: 40%;
}

.btn-navigate-folder > .btn-room-css{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}


.btn-option-document-css{
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: 0.2s;
    width: 30%;
}
.btn-option-document-css:hover{
    background-color: rgba(255, 255, 255, 0.273);
}

.label-item-selected{
    color: white;
    border: none;
    font-size: 15px;
    width: 40%;
    transition: 0.2s;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 10px
}

.btn-selected{
    background-color: rgba(255, 255, 255, 0.13);

}

.btn-navigate-folder{
    font-size: 12px;
}
.btn-navigate-folder:hover{
    background-color: rgba(255, 255, 255, 0.13);
}

@media only screen and (max-width: 1470px){
    .btn-navigate-folder{
        background-color: rgba(255, 255, 255, 0);
        color: white;
        border: none;
        font-size: 13px;
        cursor: pointer;
        transition: 0.2s;
    }
}

.title-component-switch-panel{
    
    width: 100%;
}
.title-component-switch-panel > h2{
    margin: 15px;
}

.navbar-box-switch{
    display: flex;
    margin-top: 20px;
}

.btn-nav-switch{
    padding: 7px 20px 7px 20px;
    background-color: rgb(111, 209, 255);
    color: rgb(29, 29, 29);
    cursor: pointer;
}

.btn-nav-switch-active{
    background-color: rgb(29, 29, 29);
    color: white;
    border-top: 0.5px solid rgb(111, 209, 255);
    border-left: 0.5px solid rgb(111, 209, 255);
    border-right: 0.5px solid rgb(111, 209, 255);
    border-bottom: 0.5px solid rgba(111, 209, 255, 0);
    padding: 7px 20px 7px 20px;

}