.top-toolbar-room{
    background-color: rgba(255, 255, 255, 0.086);
    height: 31px;
    /* padding: 0px 0px 0px 40px; */ /* the 40px is for the left padding of "Create New Team" Button at team-rooms.jsx */
    display: flex;
}
.toolbar-btn-add-member{
    height: 100%;
    background-color: rgba(178, 177, 177, 0);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
    margin-left: 25px;
}

.grid-room{
    display: grid;
    
}