.document-collab-parent-container{
    background-color: rgba(58, 58, 58, 0.338);
    border-radius: 0px 0px 13px 13px;
    /* height: 240px; */


    border-top: 0.5px solid rgb(111, 209, 255);
    border-left: 0.5px solid rgb(111, 209, 255);
    border-bottom: 0.5px solid rgb(111, 209, 255);
    border-right: 0.5px solid rgb(111, 209, 255);
    overflow: auto;
    height: 60vh;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;
    grid-template-areas: "box1 box1 box1 box1"
                         "box2 box2 box2 box2"
                         "box2 box2 box2 box2";
}


.div-box1{
    grid-area: box1;
    display: flex;
    align-items: center;
    margin: 10px;
    margin-left: 15px;
    justify-content: space-between;
}
.div-box1-flex-item1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(25, 25, 25);
    justify-content: space-between;
}
.flex-item1-container1{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(25, 25, 25);
}
.flex-item1-container2{
    height: 100%;
}
.flex-item1-container2 > button{
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.338);
    color: white;
    border: none;
    transition: 0.2s;
}
.flex-item1-container2 > button:hover{
    background-color: rgb(46, 46, 46);
}

.icon-size-large-collab{
    width: 30px;
    height: 30px;
}

.div-box-1-info{
    margin-left: 20px;
    font-size: 11px;
}



.div-vc-box{
    background-color: rgba(20, 20, 20, 0.672);
    backdrop-filter: blur(5px);
    height: 40.5%;
    width: 25%;
    border: 0.5px solid rgba(255, 255, 255, 0.49);
    border-radius: 8px;
    position: fixed;
    top: 206px;
    /* top: 28%; */
    left: 15%;
}
.div-vc-box-none{
    display: none;
}
.item-box-flex-container{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 5px;
    
}
.icon-item-collab{
    width: 25px;
}


.div-box2{
    grid-area: box2;
    margin-top: 20px;
}

.div-box2-ul-box{
    list-style-type: none;

}

.div-box2-ul-box > .div-box2-li-box {
    background-color: rgba(171, 171, 171, 0.213);
    display: flex;
    padding: 0px;
    width: 80%;
    margin: 7px;
}

.div-box2-ul-box > .div-box2-li-box > .btn-box{

}

.div-box2-ul-box > .div-box2-li-box > .btn-box > .button-css{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.736);
    color: white;
    border: none;
    cursor: pointer;
}

.div-box2-ul-box > .div-box2-li-box > .p-title-desc{
    font-size: 13px;
}
.div-box2-ul-box > .div-box2-li-box > .p-title-desc > h4, p{
    margin: 5px;
}