/* .home-parent-container{

} */
.home-container{
    padding: 20px;
    overflow-y: scroll;
    height: 82vh;   
}

.top-toolbar{
    background-color: rgba(255, 255, 255, 0.086);
    height: 35px;
    padding: 0px 10px 0px 10px;

}
.toolbar-upload-btn{
    height: 100%;
    background-color: rgba(178, 177, 177, 0);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
}


.toolbar-upload-btn:hover{
    background-color: rgba(178, 177, 177, 0.116);

}

.download-btn{
    background-color: rgba(111, 209, 255, 0.685);
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    width: 80%;
    height: 18%;
    z-index: 999;
}
.download-btn:hover{
   background-color: rebeccapurple;
}

/* .flexbox-file {
    margin: 10px;
    height: 220px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.259);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    padding: 7px;  
}
 */

 .file-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
 }

 .files {
    padding: 10px;
    width: 130px;
    margin: 1%;
    cursor: pointer;
    border-radius: 10px;
    
 }

 .files:hover {
    background-color: rgba(158, 158, 158, 0.311);
 }

 @keyframes fileIconAnimation {
   from{
      width: 0px;
      height: 0px;
   }
   to{
      width: 80px;
      height: 80px;
   }
}


 .icon {
    width: 80px;
    height: 80px;
    animation-name: fileIconAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    position: relative;
 }

.fileIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
    margin-top: 15px;
}


 .filename {
    display: flex;
    word-wrap: break-word;
    margin: 20px 10px 20px 10px;
    height: 100%;
    width: 100%;
    flex: 1;
 }

.filename > p{
   font-size: 14px;
   animation-name: filenameAnimation;
   animation-duration: 1.4s;
   animation-timing-function: ease-out;
   position: relative;
   color: rgba(255, 255, 255, 0.907);
}

 @keyframes filenameAnimation {
   from{
      color: rgba(255, 255, 255, 0);


   }
   to{
      color: rgba(255, 255, 255, 0.907);

   }
}
 

 .Menu {
    position: absolute
 }

 .filex {
    background-color: Red;
 }

 .Context-Menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 170px;  
 }

 .CopyCid-Menu,
 .Download-Menu {
    flex: 1;
    backdrop-filter: blur(5px); 
    opacity: 1.4;
    border-style: none;
    color: white;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.329);
    cursor: pointer;
    z-index: 3;
 }

 .CopyCid-Menu {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;  
 }

 .Download-Menu {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
 }

 .CopyCid-Menu:hover {
   background-color: rgb(56, 110, 209); 
 }
 .Download-Menu:hover {
    background-color: rgb(58, 211, 114);
  }
