.home-container{
    padding: 20px;
}

.top-toolbar{
    background-color: rgba(255, 255, 255, 0.086);
    height: 35px;
    padding: 0px 10px 0px 10px;
}
.toolbar-btn{
    height: 100%;
    background-color: rgba(178, 177, 177, 0);
    border: none;
    cursor: pointer;
    color: white;
}
.toolbar-btn:hover{
    background-color: rgba(178, 177, 177, 0.116);

}

.table-container{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.086);
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: 0.5px solid white;
    border-collapse: collapse;
}

.table-row-container {
    border: 1px solid white;
}

.table-row-container > tr > th{
    padding: 10px;
}

.table-container td{
    padding: 10px;
}
.download-btn{
    padding: 5px 20px;
    background-color: rgba(111, 209, 255, 0.685);
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
}

