/* .home-parent-container{

} */
.home-container{
    padding: 20px;
    overflow-y: scroll;
    height: 82vh;   
}

.top-toolbar{
    background-color: rgba(255, 255, 255, 0.086);
    height: 35px;
    padding: 0px 10px 0px 10px;
}
.toolbar-btn{
    height: 100%;
    background-color: rgba(178, 177, 177, 0);
    border: none;
    cursor: pointer;
    color: white;
    font-size: 17px;
}
.toolbar-btn:hover{
    background-color: rgba(178, 177, 177, 0.116);

}

.download-btn{
    
    background-color: rgba(111, 209, 255, 0.685);
    border: 1px solid white;
    border-radius: 7px;
    cursor: pointer;
    width: 80%;
    height: 18%;
}

/* .flexbox-file {
    margin: 10px;
    height: 220px;
    width: 220px;
    background-color: rgba(255, 255, 255, 0.259);
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    flex-direction: column-reverse;
    padding: 7px;  
}
 */

 .file-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .files {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 160px;
    width: 130px;
    margin: 2%;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    transition: background-color 0.3s;
 }

 .files:hover {
    background-color: rgba(158, 158, 158, 0.792);
 }

 .icon {
    width: 80px;
    height: 80px;
 }

.fileIcon {
    display: flex;
    
    flex: 2;
}


 .filename {
    display: flex;
    word-wrap: break-word;
    margin-left: 10px;
    margin-right: 10px;
    height: 100%;
    width: 100%;
    flex: 1;
 }



