
.App{
    display: grid;
    grid-template-rows: 0.9fr 5fr;
/*     background-color: rgb(30, 30, 30);
 */    color: #ffffffda;
    height: 100vh;
    background-image: url('../../background.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.top-bar-parent{
    background-color: rgb(25, 25, 25);
    animation-name: topBarParentBoxAnimation;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    position: relative;
}

.flex-item-1{
    display: flex;
}

.top-bar-box1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.title-subtitle-box{
     padding: 4px;
}

.title-subtitle-box > h1{
    font-size: 21px;
    margin-left: 22px;
    margin-top: 6px;
    margin-right: 22px;
    
    
}
.title-subtitle-box > p{
    font-size: 9px;
    color: rgb(111, 209, 255);
    width: 70%;
}

.navlink-flexbox{
    display: flex;
    align-items: center;
    height: 100%;
/*     background-color: red;
 */}

.navlink-component{
    text-decoration: none;
    font-size: 14px;
    display: block;
    color: rgba(36, 36, 36, 0);
    background-color: rgba(111, 209, 255, 0);
    color: rgb(246, 246, 246);
    padding: 14px 25px 14px 25px;

}
.navlink-component:hover{
    background-color: rgba(255, 255, 255, 0.221);
}

.navlink-component-active{
    text-decoration: none;
    font-size: 14px;
    padding: 14px 25px 14px 25px;
    text-align: center;
    display: block;
    color: rgb(36, 36, 36);
    background-color: rgb(111, 209, 255);
}


.flex-item-2-username-logout-box{
    display: flex;
    width: 17%;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    align-items: center;    
}


@keyframes topBarParentBoxAnimation {
    from {
        background-color: rgba(25, 25, 25, 0);
        bottom: 50px;
    }
    to{
        background-color: rgb(25, 25, 25);
        bottom: 0px;
    }
}


.search-user-logout-box{
    display: flex;
    flex-grow: 2fr;

}

.search-box > div{
    display: flex;
    height: 100%;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
.search-box > div > input[type="text"]{
    height: 18px;
    width: 70%;
    border-style: none;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.863);
    color: #f6f6f6d7;
    border-radius: 0%;
   
}
.search-icon {
   width: 23px;
   background-color: rgba(163, 163, 163, 0.144);
   padding: 5px 14px 5px 14px;
}

.top-navbar{
    background-color: #152238;
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    width: 100%;
    animation-name: topNavbarAnimation;
    animation-duration: 0.8s;
    animation-timing-function: ease-out;
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
}

@keyframes topNavbarAnimation {
    from{
        background-color: rgba(39, 39, 39, 0);
        backdrop-filter: blur(0px)
    }
    to{
        background-color: rgba(39, 39, 39, 0.6);
        backdrop-filter: blur(10px);
    }
}


@media only screen and (max-width: 1400px) {  
    .App{
        grid-template-rows: 0.9fr 4.5fr;
    }

}
@media only screen and (max-width: 1300px) {  
    .App{
        grid-template-rows: 0.9fr 4fr;
    }
    .username-logout-box{
        background-color: red;
/*         width: 21% !important; */
        
    }

}

@media only screen and (max-width: 1185px) {  
    .top-bar-parent > h1{
        font-size: 19px !important;
    }
    .top-bar-parent > p{
        font-size: 9px  !important;
    }
}
@media only screen and (max-width: 1032px){
    .username-logout-box{
        background-color: green;
/*         width: 23% !important; */
        color: white;
        
    }
    .top-bar-parent > h1{
        font-size: 20px !important;
    }
    .top-bar-parent > p{
        font-size: 7px !important;
    }
}



.logout-btn{
    background-color: rgba(135, 134, 134, 0.386);;
    width: 90px;
    color: rgba(255, 255, 255, 0.808);
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.1s;
    margin-right: 10px;
   }

.logout-btn:hover {
    background-color: rgba(65, 195, 255, 0.242);
}

/* 
.search-box{
    flex-grow: 5;
    height: 100%;
  
}
 */


.outlet-container{
    background-color: rgba(13, 13, 13, 0.977);
    backdrop-filter: blur(10px);
    height: 100vh;
/*     overflow-y: scroll; */ /* This adds a scrollbar on the right container applicable for all components */
    animation-name: outletContainerAnimation;
    animation-duration: 1.3s;
    animation-timing-function: ease-out;
}

@keyframes outletContainerAnimation{
    from {
        background-color: rgba(13, 13, 13, 0);
        backdrop-filter: blur(0px);

    }
    to{
        background-color: rgba(13, 13, 13, 0.977);
        backdrop-filter: blur(10px);
    }
}
