
.App{
    display: grid;
    grid-template-columns: 1fr 5fr;
/*     background-color: rgb(30, 30, 30);
 */    color: #f6f6f6;
    height: 100vh;
    background-image: url('../../background.png'); 
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

@media only screen and (max-width: 1400px) {  
    .App{
        grid-template-columns: 1fr 4.5fr;
    }

}
@media only screen and (max-width: 1300px) {  
    .App{
        grid-template-columns: 1fr 4fr;
    }
    .username-logout-box{
        background-color: red;
/*         width: 21% !important; */
        
    }

}

@media only screen and (max-width: 1185px) {  
    .title-subtitle-box > h1{
        font-size: 22px !important;
    }
    .title-subtitle-box > p{
        font-size: 9px  !important;
    }
}
@media only screen and (max-width: 1032px){
    .username-logout-box{
        background-color: green;
/*         width: 23% !important; */
        color: white;
        
    }
    .title-subtitle-box > h1{
        font-size: 20px !important;
    }
    .title-subtitle-box > p{
        font-size: 7px !important;
    }
}

.sidebar{
    height: 100%;
    background-color: rgba(39, 39, 39, 0.6);
    backdrop-filter: blur(10px);
    color: rgb(255, 255, 255);
    width: 100%;
    animation-name: sidebarAnimation;
    animation-duration: 0.4s;
    animation-timing-function: ease-out;
    position: relative;

}

@keyframes sidebarAnimation {
    from{
        background-color: rgba(39, 39, 39, 0);
        backdrop-filter: blur(0px);
        right: 150px;
    }
    to{
        background-color: rgba(39, 39, 39, 0.6);
        backdrop-filter: blur(10px);
        right: 0px;
    }
}



.top-nav-bar{
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    padding: 7px;
    height: 4%;
}

.username-logout-box{
    display: flex;
    flex-grow: 0.4;/*     width: 100%; */
    color: white;
    justify-content: space-between;
    align-items: center;
    

}

.logout-btn{
    background-color: rgba(135, 134, 134, 0.386);;
    width: 90px;
    color: rgba(255, 255, 255, 0.808);
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    transition: background-color 0.1s;
   }

.logout-btn:hover {
    background-color: rgba(65, 195, 255, 0.242);
}


.search-box{
    flex-grow: 5;
    height: 100%;
  
}
.search-box > div{
    display: flex;
    width: 50%;
    height: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
.search-box > div > input[type="text"]{
    height: 18px;
    width: 70%;
    border-style: none;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.863);
    color: #f6f6f6d7;
    border-radius: 0%;
   
}
.search-icon {
   width: 23px;
   background-color: rgba(163, 163, 163, 0.144);
   padding: 5px 14px 5px 14px;
}

.title-subtitle-box{
    padding: 10px;
    background-color: rgb(25, 25, 25);
    backdrop-filter: blur(5px);
}
.title-subtitle-box > h1{
    font-size: 25px;
}
.title-subtitle-box > p{
    font-size: 12px;
    color: rgb(111, 209, 255);
    width: 90%;
}

.navlink-component{
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    display: block;
    margin: 10px 0px;
    color: rgb(246, 246, 246);
}
.navlink-component:hover{
    background-color: rgba(255, 255, 255, 0.221);
}
.navlink-component-active{
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    display: block;
    margin: 10px 0px;
    color: rgb(36, 36, 36);
    background-color: rgb(111, 209, 255);
}
.navlink-tabs{
    margin-top: 50px;
}

.outlet-container{
    background-color: rgba(13, 13, 13, 0.94);
    backdrop-filter: blur(10px);
    height: 100vh;
/*     overflow-y: scroll; */ /* This adds a scrollbar on the right container applicable for all components */
    animation-name: outletContainerAnimation;
    animation-duration: 0.9s;
    animation-timing-function: ease-out;
}

@keyframes outletContainerAnimation{
    from {
        background-color: rgba(13, 13, 13, 0);
        backdrop-filter: blur(0px);

    }
    to{
        background-color: rgba(13, 13, 13, 0.94);
        backdrop-filter: blur(10px);
    }
}
