.modal-upload-group-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}
@keyframes modal-animation {
    from { background-color: rgba(19, 19, 19, 0); } /* background color from outlet-container at main.css */
    to { background-color: rgba(30, 30, 30, 0.6); }
}   

.modal-upload-file-group {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background-color: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(5px);
    animation-name: modal-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    z-index: 9;
    
}

.display-none{
    display: none;
}

.upload-group-modal-box{
    background-color: rgb(30, 30, 30);
    width: 55%;
    height: 75%;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    padding: 10px;
    position: relative;
    animation-name: upload-group-container-animation;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    color: rgba(255, 255, 255, 0.852);
    z-index: 100;
    bottom: 40px;
    border: 0.5px solid rgb(111, 209, 255);
}

@keyframes upload-group-container-animation {
    from { bottom: 90px;     background-color: rgba(111, 209, 255, 0); }
    to { bottom: 40px;            background-color: rgb(30, 30, 30);
    }
}

.upload-group-modal-box > .exit-box{
    display: flex;
    flex-direction: row-reverse;
}

.upload-group-input-box{
    height: 90%;
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 3fr 4fr;
    grid-template-areas: 
        "folderTree formUpload"
        "console console";

}
/* .upload-group-input-box > div{
    margin-top: 1rem;
    margin-bottom: 10px;
} */
.folderTree-grid-cell{
    grid-area: folderTree;
    background-color: rgba(45, 45, 45, 0.522);
    overflow-y: auto;
    overflow-x: auto;

    font-size: 8px;
    margin: 10px;

}
.form-upload-grid-cell{
    grid-area: formUpload;
    font-size: 10px;
    margin: 10px;
}
.console-container-cell{
    grid-area: console;
    background-color: rgba(0, 0, 0, 0.403);
    padding: 10px;
    overflow-y: auto;
    margin: 10px;

}

.console-container-cell > textarea{
    background-color: rgba(60, 60, 60, 0.282);
    width: 100%;
    display: block;
}

.radiobox-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
    justify-content: space-around;
}

.radiobox-item{
    display: flex;
    padding: 5px;
}
.radiobox-item-secret-share{
    display: flex;
    flex-direction: column;
}
.radiobox-item > div{
    margin-right: 15px;
}

.secret-share-holder-form{

    margin-left: 20px;
}
.secret-share-holder-form > div{
    display: flex;
    margin: 10px;
    align-items: center;
}
.secret-share-holder-form input[type="text"]{
    height: 5px;
}
.secret-share-holder-form label{
    width: 40%;
    font-size: 12px;
}


.ss-option-description-css{
    font-size: 13px;
}

.location-node-box{
    padding: 5px;
    width: 95%;
    margin: auto;
}
.parent-foldername-box{
    display: flex;
    padding: 10px;
    width: 75%;
    justify-content: space-between;
}
.button-display-parent-folder-btn{
    background-color: rgb(221, 221, 221);

    padding: 5px 17px 5px 17px;
    font-size: 11px;
    border: none;
    border-radius: 10px;
    cursor: pointer;

}
.button-display-none-parent-folder-btn{
    display: none;
}
.foldername-textbox-box{
    display: flex;
    padding: 4px;
    align-items: center;

}

.location-node-box .textbox-foldername{
    height: 5px;
    width: 60%;
    margin-left: 20px;
    font-size: 10px;
}

.upload-btn-box{
    width: 95%;
    margin: auto;
}

.submit-btn-upload-group{
    background-color: rgb(221, 221, 221);

    padding: 8px 17px 8px 17px;
    font-size: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.submit-btn-upload-group:hover{
    background-color: rgb(255, 255, 255);
}
